<div class="container mt-5" id="home-container">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container mt-5">
      <h1 class="display-2"><strong>MotoTony</strong></h1>
      <hr class="my-3">
      <p class="pl-4 pr-4"> Welcome to my store. It aint much but I learned a lot</p>
      <div class="m-4">


        <% if user_signed_in? %>
        <strong>
          <%=current_user.email%>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-danger btn-lg"%>
        </strong>
        <%else%>
        <%= link_to 'Login', new_user_session_path, class: "btn btn-success btn-lg"%>

        <%end%>

      </div>
    </div>
  </div>
</div>