<div class = "container">
  <%if flash.any? %>

  

    <%if !flash[:alert]%>
      <div class = "alert alert-success alert-dismissible fade show" role="alert">
        <% flash.each do |name, msg| %>
            <h5 class= "alert-heading"><%=msg%></h5>
        <%end%>
        <%else%>
            <div class = "alert alert-danger alert-dismissible fade show" role="alert">
              <% flash.each do |name, msg| %>
                <h5 class= "alert-heading"><%=msg%></h5>
            </div>
        <%end%>

    <%end%>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

  <%end%>
</div>

<!-- 
    <% flash.each do |name, msg| %>
      <%=msg%>
    <%end%>

-->